html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262419;
  font-family: 'Outfit';
}

/* Chip Container */
.active:has(.active) {
  border: 1px solid #FFEB3B !important;
}

/* Chip Text */
.active {
  color: #FFEB3B !important;
}

.scrollable-chip-container {
  overflow: scroll;
  scrollbar-color: #FFF6AF #504E45;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 7px;
  background-color: #504E45;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #FFF6AF;
  box-shadow: 0 0 1px #504E45
}